code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-font-align {
  font-size: 10px;
  color: red;
  }

  img {
    border-radius: 8px;
  }

  .p1 {
    font-family: "Times New Roman", Times, serif;
  }
